.settings-page {
    width: 100%;
    min-height: 100vh;
    padding: 100px 70px 80px;
    display: flex;
    gap: 45px;
    justify-content: center;
    align-items: flex-start;
}

/* LEFT CARD */

.settings-panel {
    width: 260px;
    flex-shrink: 0;
    background: var(--color-header-bg-solid);
    border: 1px solid rgba(255, 255, 255, .08);
    border-radius: 10px;
    padding: 28px;
    backdrop-filter: blur(20px);
    box-shadow: 0 20px 40px rgba(0, 0, 0, .3);

}


.settings-panel_desc {
    font-size: 14.5px;
    color: var(--color-header-muted);
    line-height: 1.6;
    margin-bottom: var(--space-lg);
}


.settings-panel_title {
    margin-top: -10px;
    font-weight: 500;
}

.settings-groupe__title {
    margin-top: 17px;
    margin-bottom: 15px;
}

.settings-item__name {
    display: block;
    line-height: 10px;
    width: 140px;
    border-radius: 12px;
    transition: all 0.2s ease;
}

.settings-item__name:hover {
    background: rgba(245, 20, 20, 0.05);
    color: rgb(255, 139, 7);

}

.settings-item--danger:hover {
    color: rgb(253, 104, 104);
}

/* RIGHT CARD */

.profile-card {
    width: 500px;
    background: var(--color-header-bg-solid);
    border: 1px solid rgba(255, 255, 255, .08);
    border-radius: 10px;
    padding: 40px;
    backdrop-filter: blur(20px);
    box-shadow: 0 20px 40px rgba(0, 0, 0, .3);

}

.profile-card h2 {
    padding-bottom: 1px;
    color: white;
    font-weight: 500;
    font-size: 33px;
    margin-bottom: 35px;
}

/* Profile Image */

.profile-picture {
    display: flex;
    align-items: center;
    gap: 25px;
    margin-bottom: 40px;

}

.profile-picture img {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid rgba(59, 131, 246, 0.774);

}

.profile-picture button {
    padding: 12px 22px;
    border: none;
    border-radius: 10px;
    background: rgba(59, 131, 246, 0.774);
    color: white;
    cursor: pointer;
    font-size: 15px;
    transition: .3s;

}

.profile-picture button:hover {
    color: #000;
    background: #ff7310;

}

/* FORM */

.profile-form {

    display: flex;

    flex-direction: column;

    gap: 22px;

}

.input-group {

    display: flex;

    flex-direction: column;

    gap: 8px;

}

.input-group label {

    color: white;

    font-size: 15px;

}

.input-group input,
.input-group textarea {

    width: 100%;

    background: rgba(255, 255, 255, .04);

    border: 1px solid rgba(255, 255, 255, .08);

    border-radius: 12px;

    padding: 15px;

    color: white;

    font-size: 15px;

    outline: none;

    transition: .3s;

}

.input-group textarea {

    height: 140px;

    resize: none;

}

.input-group input:focus,
.input-group textarea:focus {

    border-color: #ff8b2c;

}

/* SAVE BUTTON */

.save-btn {
    margin-top: 10px;
    width: 190px;
    padding: 14px;
    border: none;
    border-radius: 12px;
    background: #3e0b4b;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: .3s;

}

.save-btn:hover {

    background: #ff7310;

}

/* ACTIVE MENU ITEM */

.settings-item--active {
    color: #ff8b2c;
    border-color: #ff8b2c;
    background: rgba(255, 140, 44, .08);

}

.settings-item--active:hover {
    color: #ff8b2c;
    transform: translateX(3px);
    border-color: #ff8b2c;

}

/* Responsive */

@media(max-width:1100px) {

    .settings-page {

        flex-direction: column;

        align-items: center;

    }

    .settings-panel {

        width: 100%;

        max-width: 700px;

    }

    .profile-card {

        width: 100%;

        max-width: 700px;

    }

}